@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://scontent.fvno3-1.fna.fbcdn.net/v/t1.6435-9/240669017_185430023562436_2896551028759384734_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=XJWTHxyTw34AX8jya0T&_nc_ht=scontent.fvno3-1.fna&oh=9be0bfcd95427b43547f032c277c3c83&oe=61872DB3')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    color: #fff;
    font-size: 50px;
}